@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;400;700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

:root {
    --primary: #ededed;
    --secondary: #eded23;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* zet de font-family voor de 'normale tekst' altijd in de body */
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* ------------------------------- 2. Typography ----------------------------------- */

p {
    font-weight: 300;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    /*zet de font-family voor de 'titels' altijd in een gezamelijke type selector  */
    font-family: Merriweather, sans-serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-content-container {
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------- 3.2 Other --------------------------- */

a,
a:visited,
a:link {
    text-decoration: none;
    color: var(--primary);
}
/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/*etc.*/

/* ------------------------------- 5. Media Queries -------------------------------- */